@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  transition-property: background-color, border-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-zinc-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-zinc-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-zinc-500;
}

html {
  transition: background-color 300ms ease;
}
